@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

#root {
	width: 100%;
	min-height: 100vh;
	background: white;

	font-family: Onest, sans-serif;
}

.main {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

a:visited {
	color: inherit;
}

.randomPromotion {
	width: 100%;
	padding: 17px 0;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	color: black;
	background-color: #cbfc01;

	font-weight: 700;
}

* {
	box-sizing: border-box;
}